<%- include('partials/header') -%>
<i class="fa fa-apple"></i>
  <h1 class="text-4xl mb-4" style="color: brown;">Bienvenido <%= user.nickname %></h1>

  <% if (user.picture) { %>
    <img class="block py-3" src="<%= user.picture %>" width="100">
  <% } %>
  
  <p class="py-3">
    Información del Usuario <code class="bg-gray-200">req.user</code>.<br>
    <strong>Note:</strong> <code class="bg-gray-200">_raw</code> and <code class="bg-gray-200">_json</code> properties have been omitted.
  </p>

  <pre class="block bg-gray-300 p-4 text-sm overflow-scroll"><%= userProfile %></pre>

<%- include('partials/footer') -%>
